### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

node_modules/
.tmp
.sass-cache
dist
/src/styles/*.css
/src/styles/*.map
/src/scripts/components/Strings.js
/src/_locales
/package/
npm-debug.log
.idea/
bower_components
build
