@import '../css/codemirror.css';

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

body .navbar {
    margin-bottom: 0 !important
}

body .navbar-static-top .container, body .navbar-fixed-top .container, body .navbar-fixed-bottom .container {
    width: auto;
    padding: 0 10px 0 20px
}

.edit-profile .name {
    margin-top: 10px;
    font-size: 24px;
    height: 32px;
    line-height: 28px
}

.notification-area {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 10px;
    z-index: 92233720368.54776
}

.disabled-link i, .disabled-link .caret, .disabled-link a, .disabled-link a:visited, .disabled-link a:active, .disabled-link a:hover {
    color: #aaa !important
}

input, select {
    color: #000 !important
}

.note {
    font-size: 13px;
    padding-left: 5px;
    color: #1a1a1a
}

.documentation {
    padding: 10px 10px 0 10px !important
}

.documentation .request-name input {
    width: 100%;
    height: 24px;
    line-height: 24px;
    margin: 0
}

.documentation .ctrls {
    width: 205px;
    padding: 0 0 0 18px
}

/* main-panel */

.main-panel .navbar {
  background-color: #3F51B5;
}
.main-panel nav .navbar-brand {
  color: #fff;
}

.main-panel nav .navbar-brand:hover {
  color: #ddd;
}

.icon-download-alt {
    top: 1px;
    position: relative
}

.navbar .nav > li > a {
    font-size: 13px
}

.ui-lay-l {
    width: 280px;
    position: fixed;
    left: 0;
    top: 40px;
    bottom: 0;
    overflow: hidden;
    background: #fff
}

.ui-lay-c {
    margin-left: 280px;
    margin-right: 12px;
    overflow: auto;
    bottom: 78px;
    position: fixed;
    right: 0;
    top: 40px;
    left: 0;
    background-color: #fff;
}

.ui-lay-c .ui-lay-cc {
    min-width: 800px
}

.ui-context {
    background-color: #fff1f0;
    background: #fff
}

.pane {
    min-height: 70px;
    padding: 15px 10px 10px 10px !important
}

.pane .pane-head {
    font-size: 15px;
    margin: 0 0 7px 0;
    color: #4a4a4a;
    font-weight: 200;
    text-transform: uppercase;
    border-bottom: 1px dotted #aaa;
    line-height: 18px
}

.pane .pane-head span {
    padding-left: 1px
}

.pane .sub-label {
    font-size: 13px;
    margin: 0 0 5px 2px;
    color: #444;
    text-transform: uppercase
}

.ui-lay-r {
    z-index: -50
}

.h-divider {
    top: 40px;
    bottom: 0;
    width: 4px;
    padding-left: 3px;
    text-align: center;
    position: fixed;
    cursor: ew-resize
}

.h-div-left {
    padding-left: 1px;
    text-align: left
}

.pane-head2 {
    line-height: 29px;
    margin: 0 0 7px 0;
    color: #2a2a2a;
    font-weight: 200;
    text-transform: uppercase;
    border-bottom: 1px dotted #999
}

.pane-head2 span {
    padding-left: 1px
}

#request .service {
    margin: 0 0 0 2px
}

#request .service .url {
    margin: 0 0 0 2px
}

#request .service .btn-send {
    width: 90px !important
}

#request .service .uri-length {
    float: right;
    font-size: 10px;
    color: #666
}

#request .service {
    display: table;
    width: 100%
}

#request .service .row {
    display: table-row
}

#request .service .cell {
    display: table-cell;
    width: 1px;
    white-space: nowrap;
    padding: 0 2px 0 10px
}

#request .service .cell-url {
    display: table-cell;
    white-space: nowrap;
    position: relative
}

#request .service .cell-url > input {
    width: 100%;
    min-width: 350px
}

#request .service .editor-icon:focus {
    border: 0;
    outline: 0;
    text-decoration: none;
    outline-width: 0
}

#request .service .scheme-version {
    display: table-cell;
    width: 1px
}

#request .service .scheme-version select {
    margin: 0 2px 0 0;
    width: auto
}

#request .service .query-form .btn-link:focus, #request .service .editor-icon:focus {
    outline-width: 0;
    outline: 0;
    text-decoration: none
}

#request .service .uri-ctrls {
    float: right;
    text-align: right;
    font-size: 10px;
    position: relative;
    top: 7px
}

#request .service.error .url > input {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392
}

#request .request {
    display: table;
    width: 100%;
    margin: 14px 0 0 0
}

#request .btn-open-body-editor {
    padding: 0
}

#request .set-auth-link {
    margin-left: 40px !important
}

#request .set-auth-link i {
    font-size: 9px
}

#request .set-auth-link .btn-link {
    font-size: 13px
}

a.local-cache, a.local-cache:HOVER, a.local-cache:VISITED, a.local-cache:ACTIVE {
    color: #080;
    font-size: 12px
}

a.remote-cache, a.remote-cache:HOVER, a.remote-cache:VISITED, a.remote-cache:ACTIVE {
    font-size: 12px
}

.response-ok, .response-ok a, .response-ok a:HOVER, .response-ok a:VISITED, .response-ok a:ACTIVE {
    color: #080
}

.response-error, .response-error a, .response-error a:HOVER, .response-error a:VISITED, .response-error a:ACTIVE {
    color: #800
}

.response-info, .response-info a, .response-info a:HOVER, .response-info a:VISITED, .response-info a:ACTIVE {
    color: #000
}

.response-ok a:HOVER, .response-error a:HOVER, .response-info a:HOVER {
    text-decoration: underline
}

.h-r .note, .history .note, .h-b .note {
    padding: 5px 10px;
    font-size: 13px
}

#bottom-side .bottom-pane-selector {
    margin: 0
}

#bottom-side .bottom-pane-selector li > a {
    padding: 4px 16px 4px 16px;
    font-size: 14px;
    color: #999
}

#bottom-side .bottom-pane-selector li.active a {
    color: #2a2a2a
}

#bottom-side .content {
    margin: 0
}

#bottom-side .pane-head {
    border-bottom: 0 !important
}

#bottom-side .pane-head .selector {
    margin-bottom: 0
}

#bottom-side .filter {
    width: 150px
}

#bottom-side .h-filter-btn {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 25px
}

#bottom-side .ctrls {
    position: absolute;
    left: 110px;
    float: left;
    font-size: 13px
}

#bottom-side .ctrls .btn-group {
    display: block;
    left: 8px
}

#bottom-side .selector {
    display: inline-block
}

#bottom-side .selector ul li a {
    padding: 0
}

#bottom-side #context .slot {
    overflow: auto;
    margin: 0 0 10px 0
}

#bottom-side #context .slot .variable {
    display: inline-block;
    padding: 0 20px 0 0
}

#bottom-side #context .slot .variable input {
    margin: 0 0 2px 0 !important
}

#bottom-side #context .slot .variable .gwt-InlineHTML {
    font-size: 10px
}

#bottom-side #context .slot .variable .btn-link {
    color: #444
}

#bottom-side .hide-pane {
    float: right
}

#bottom-side .hide-pane .btn {
    border: none;
    background: 0
}

#bottom-side .hide-pane .icon-caret-down, #bottom-side .hide-pane .icon-long-arrow-down {
    font-size: 11px;
    color: #9a9a9a
}

#bottom-side .hide-pane .btn-group > a {
    margin: 0 2px 0 2px;
    padding: 0 7px 0 7px;
    color: #666
}

#right-side .hide-pane {
    border: none;
    background: 0;
    float: left;
    padding-left: 8px;
    padding-right: 0;
    color: #9a9a9a;
    font-size: 11px
}

#right-side .pane-head {
    text-align: center
}

#right-side .pane-head .selector {
    display: inline-block;
    margin: 0;
    font-size: 16px
}

#right-side .pane-head .selector li {
    margin: 0 3px 0 3px
}

#right-side .pane-head .selector li a {
    padding-bottom: 6px;
    padding-top: 6px;
    color: #999
}

#right-side .pane-head .selector li a:focus {
    background-color: transparent
}

#right-side .pane-head .selector li a:hover {
    color: #666
}

#right-side .pane-head .selector li.active a {
    background-color: transparent;
    color: #000
}

#left-side .hide-pane {
    float: right;
    border: none;
    background: 0;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
    color: #9a9a9a;
    font-size: 11px
}

#left-side .pane-head {
    text-align: center
}

#left-side .pane-head .selector {
    display: inline-block;
    margin: 0;
    font-size: 16px
}

#left-side .pane-head .selector li {
    margin: 0 3px 0 3px
}

#left-side .pane-head .selector li a {
    padding-bottom: 6px;
    padding-top: 6px;
    color: #999
}

#left-side .pane-head .selector li a:focus {
    background-color: transparent
}

#left-side .pane-head .selector li a:hover {
    color: #666
}

#left-side .pane-head .selector li.active a {
    background-color: transparent;
    color: #000
}

#h-history {
    background: red;
}

#h-history .records {
    overflow: auto;
    height: 160px;
    margin-left: 10px;
}

#h-history .records .item {
    font-size: 13px
}

#h-history .records table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse
}

#h-history .records table tr.selected td {
    background-color: #ffa
}

#h-history .records table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 15px 2px 0
}

#h-history .records table td.datetime label {
    color: #222;
    font-size: 10px
}

#h-history .records table td.time {
    color: #222;
    font-size: 10px;
    text-align: right
}

#h-history .records table td.count {
    color: #222;
    font-size: 11px;
    font-style: italic;
    text-align: right
}

#h-history .records table td.method a {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    width: 80px;
    text-align: left
}

#h-history .records table td.url a {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    text-align: left;
    font-weight: 800
}

#h-history .records table td.from-cache {
    font-size: 10px;
    color: #444
}

#h-history .records table td.status a {
    font-size: 13px
}

#h-history .records table.history {
    margin: 2px 0 7px 0
}

.history .records {
    bottom: 50px;
    padding-left: 0px
}

.history .buttons {
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 50px;
}

.history .handler-button {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.history .handler-button a.btn-link {
    text-decoration: none;
}

.webapp .history .records {
    bottom: 230px;
    padding-left: 10px
}

.webapp .history .btn.import,
.webapp .history .btn.export {
    bottom: 155px;
    padding-left: 6px
}



.save-dialog h3 {
    width: 510px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.save-dialog .modal-body {
    overflow: visible
}

.ui-lay-l .catalog .items {
    bottom: 60px
}

.ui-lay-l .catalog .buttons {
    bottom: 20px
}

.ui-lay-r .catalog .items {
    bottom: 40px
}

.ui-lay-r .catalog .buttons {
    bottom: 0
}

#bottom-side .doc-pane .editable {
    padding: 0 15px 0 5px;
    height: 100%
}

#bottom-side .doc-pane .editable textarea {
    resize: none;
    width: 100%;
    height: 100%;
    color: #000;
    border-top: 1px solid #aaa
}

#bottom-side .doc-pane .rendered {
    height: 100%;
    padding: 0 5px 0 15px
}

#bottom-side .doc-pane .rendered .gwt-HTML {
    color: #444;
    height: 100%;
    overflow: auto
}

.to-code-dialog .to-code textarea {
    width: 98%;
    height: 180px;
    white-space: pre;
    word-wrap: break-word;
    color: #000
}

.request .CodeMirror {
    height: 300px;
    border: 1px solid #ddd;
}

.request .editor {
    width: 100%;
}

.service .dropdown-menu {
    min-width: 68px;
}

/* code editor */
.cm-s-mdn-like .CodeMirror-gutters {
  background: #fff;
  border-left: 6px solid #fff;
}

.cm-s-mdn-like .CodeMirror-linenumber {
  left: 0;
}

#filePicker {
    position: absolute;
    width: 115px;
    height: 30px;
    top: 1px;
    left: 85px;
    opacity: 0;
    z-index: 100;
    border: 1px solid;
    font-size: 0;
}

.split-pane-divider-inner {
    border-left: solid #e2e2e2 5px;
    width: 1px;
    height: 100%;
}

.mock-editor .CodeMirror-fullscreen {
    max-width: inherit;
    z-index: 1031;
    top: 50px;
}

.split-pane {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.handle-panel {
    margin-right: 12px;
    position: absolute;
    top: 50px;
    left: 372px;
    bottom: 0;
    height: 100%;
}

.main-panel {
    height: 100%;
    width: 100%;
}

#history-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 43px;
    z-index: 100;
}

#history-panel .content {
    height: 100%;
    background-color: #fff;
}

#history-panel .nav a {
    cursor: pointer;
}
#preloader {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}
.fake-loading {
    background-color: #ff4136;
    opacity: 0.75;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin: -5px auto 0 auto;
    left: 0;
    right: 0;
    border-radius: 0px;
    border: 5px solid #ff4136;
    box-shadow: 10px 0px #39cccc, 10px 0px #01ff70;
    animation: shadowSpin 1s ease-in-out infinite;
}

@keyframes shadowSpin {
    0% {
        box-shadow: 10px -10px #39cccc, -10px 10px #ffdc00;
    }
    25% {
        box-shadow: 10px 10px #39cccc, -10px -10px #ffdc00;
    }
    50% {
        box-shadow: -10px 10px #39cccc, 10px -10px #ffdc00;
    }
    75% {
        box-shadow: -10px -10px #39cccc, 10px 10px #ffdc00;
    }
    100% {
        box-shadow: 10px -10px #39cccc, -10px 10px #ffdc00;
    }
}
.hide {
    display: none;
}
