<!DOCTYPE html>
<html ng-app="app.popup">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <title>response mockit</title>
    <!-- build:css src/css/app.min.css -->
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/chrome.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../bower_components/codemirror/theme/xq-light.css">
    <link rel="stylesheet" href="../bower_components/codemirror/theme/mdn-like.css"/>
    <link rel="stylesheet" href="../bower_components/codemirror/addon/display/fullscreen.css"/>
    <!-- endbuild -->
    <!-- build:js src/js/lib.min.js -->
    <script src="js/mock.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script  src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script  src="../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="../bower_components/split-pane/split-pane.js"></script>
    <script src="../bower_components/angular-split-pane/angular-split-pane.js"></script>
    <script type="text/javascript" src="../bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="../bower_components/codemirror/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="../bower_components/codemirror/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="../bower_components/codemirror/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="../bower_components/codemirror/addon/display/fullscreen.js"></script>
    <!-- endbuild -->
</head>

<body class="main chromeapp" id="console" ng-controller="MainController as vm">
<div id="preloader" ng-class="{hide: vm.startComplete}">
    <div class="fake-loading"></div>
</div>
<div id="notification" class="notification-area" style="display: none;"></div>
<div class="main-panel" >
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Response MocKit</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="ui-lay-m" data-split-pane>
        <!--left panel-->
        <div class="ui-lay-l ui-context" data-split-pane-component data-width="280px">
            <section class="pane" id="left-side">
                <div class="content">
                    <!--list-panel-->
                    <div class="history">
                        <div ng-if="vm.ruleList.length==0">
                            <p class="note" >记录为空</p>
                        </div>
                        <div class="records">
                            <div>
                                <table class="history">
                                    <tbody>
                                    <tr ng-repeat="r in vm.ruleList track by $index">
                                        <td>
                                            <div class="item">
                                                <a ng-click="vm.setFocus(r)" href="#void" class="btn path" data-runstate="{{r.runstate}}">
                                                    <span class="">{{r.name}}</span>
                                                    <span class="response-error">{{r.rurl}}</span>
                                                    <span class="status response-ok">{{r.type}}</span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="buttons">
                            <div class="btn-group">
                                <a ng-click="vm.export()" href="#void" class="btn btn-link btn-small" title="Export Data"><i class="icon-download-alt"></i> 导出 </a>
                                <input type="file" id="filePicker">
                                <a  href="#void" class="btn btn-link btn-small" title="Import Data"><i class="icon-upload-alt"></i> 导入 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!--divider line-->
        <div class="h-divider h-div-left" style="left: 365px;" data-split-pane-divider data-width="5px">
            <div class="line"></div>
        </div>
        <!--content-->
        <div class="handle-panel ui-lay-c" data-split-pane-component>
            <div>
                <div>
                    <!--title, save, delete-->
                    <section class="pane documentation">
                        <div class="pane-head2"><span>Use Case</span></div>
                        <div class="content">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td class="request-name control-group">
                                        <input ng-model="vm.mockRuleName" type="text" class="gwt-TextBox" placeholder="规则名称">
                                    </td>
                                    <td class="ctrls">
                                        <div class="btn-group btn-group-sm">
                                            <a ng-click="vm.setMockRule(vm.mockRurl)" ng-disabled="!vm.mockRurl"  class="btn btn-info btn-sm" href="#void">
                                                <i class="icon-save"></i> 保存 </a>
                                            <a ng-click="vm.deleteRule(vm.mockRurl)" ng-disabled="!vm.mockRurl" class="btn btn-danger btn-small" href="#void">
                                                <i class="icon-trash"></i> 删除 </a>
                                            <a ng-click="vm.toggleState()"  ng-if="vm.saved" class="btn btn-send btn-small" ng-class="{'btn-success': !vm.mockRunState, 'btn-danger': vm.mockRunState}" href="#void">
                                                <i class="icon-magic"></i> <span ng-if="!vm.mockRunState">启动</span> <span ng-if="vm.mockRunState">停止</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div></div>
                        </div>
                    </section>
                    <!--rule edit-->
                    <section id="request" class="pane">
                        <div class="pane-head"><span>Mock 规则</span></div>
                        <div class="content">
                            <div class="service">
                                <span class="row">
                                    <span class="cell-url">
                                        <input ng-model="vm.mockRurl" type="text" class="gwt-TextBox url" placeholder="请填写url匹配规则, 支持正则 如 offer.json /\.abc.jsonp">
                                    </span>
                                    <span class="cell protocol">
                                        <!--<select class="input-small" ng-model="mockType">-->
                                            <!--<option value="json">JSON</option>-->
                                            <!--<option value="jsonp">JSONP</option>-->
                                        <!--</select>-->
                                        <div class="dropdown">
                                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                请求类型
                                                <span class="caret"></span>
                                            </button>
                                            <!--TODO: active !!!!-->
                                            <ul class="dropdown-menu">
                                                <li><a href="#">JSON</a></li>
                                                <li><a href="#">JSONP</a></li>
                                                <li><a href="#">其他</a></li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span class="cell">
                                        <!--<a ng-click="setMockRule()" href="#void" class="btn btn-send btn-sm btn-success">-->
                                            <!--<i class="icon-download-alt"></i>开始拦截</a>-->
                                        <!--icon-send-->
                                    </span>
                                </span>
                            </div>
                            <div class="request">
                                <div class="editor">
                                    <div class="sub-label">Mock 响应设置</div>
                                    <div class="rule-error">
                                        <span ng-if="!vm.mockRuleValidate" class="label label-danger">规则错误, 请确保为json结构</span>
                                    </div>
                                    <div class="cleafix"></div>

                                    <div class="editor mock-editor">
                                        <textarea  ui-codemirror ng-model="vm.mockTemplate" ui-codemirror-opts="vm.editorOptions" cols="30" rows="6"></textarea>
                                        <div class="text-body-type">
                                            <a ng-click="vm.reformat()" href="#void" class="btn btn-link btn-mini" title="格式化"><i></i> 格式化 </a>|
                                            <a ng-click="vm.preview()" href="#void" class="btn btn-link btn-mini" title="预览"><i></i> 预览 </a>|
                                            <a ng-click="vm.fullscreen()" href="#void" class="btn btn-link btn-mini" title="全屏"><i></i> 全屏 </a>
                                        </div>
                                    </div>
                                    <!--<a ng-click="setMockRule()" href="#void" class="btn btn-send btn-info">-->
                                        <!--<i class="icon-download-alt"></i>预览 Mock 数据</a>-->
                                </div>
                                <div class="preview">
                                    <div class="sub-label">Response 预览</div>
                                    <div class="cleafix"></div>
                                    <!--<a ng-click="setMockRule()" href="#void" class="btn btn-send btn-info">-->
                                    <!--<i class="icon-download-alt"></i>预览 Mock 数据</a>-->
                                    <div class="editor mock-preview">
                                        <textarea  ui-codemirror ng-model="vm.mockPreview" ui-codemirror-opts="vm.previewOptions" cols="30" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!--<div data-split-pane-divider data-height="5px"></div>-->
                <div id="history-panel" ng-style="vm.historyPanelHeight">
                    <div class="pane-head">
                        <div class="hide-pane">
                            <!--<div class="btn-group">-->
                                <!--<a href="#void" class="btn btn-link btn-mini" title="清空拦截历史">-->
                                    <!--<i class="icon-trash"></i></a>-->
                            <!--</div>-->
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#void" ng-click="vm.toggleHistoryPanel()"><i class="icon-list"></i> 拦截记录 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="content">
                        <div class="h-b">
                            <div ng-if="vm.historyList.length === 0;"><p class="note">记录为空</p></div>
                            <div class="records">
                                <div>
                                    <table class="h-history">
                                        <colgroup>
                                            <col width="130px">
                                            <col width="20px">
                                            <col width="80px">
                                            <col>
                                            <col width="150px">
                                            <col width="60px">
                                            <col width="40px">
                                            <col width="60px">
                                        </colgroup>
                                        <tbody>
                                        <p class="path" ng-repeat="history in vm.historyList track by $index">
                                            <a ng-click="vm.preview(history.mockData)" href="#void" class="btn path">
                                                <span class="status response-body-info ng-binding">{{history.time}}</span> &nbsp;
                                                <span class="response-error ng-binding">{{history.type}}</span>
                                                <span class="status response-ok ng-binding">{{history.request.method}}</span>
                                                <span class="ng-binding">{{history.request.url}}</span>
                                            </a>
                                        </p>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/core/core.module.js"></script>
<script src="js/core/core.service.js"></script>
<script src="js/core/chrome.service.js"></script>
<script src="js/core/storage.service.js"></script>
<script src="js/popup/popup.module.js"></script>
<script src="js/popup/popup.service.js"></script>
<script src="js/popup/popup.controller.js"></script>
</body>
</html>