<!DOCTYPE html>
<html ng-app="app.popup">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <title>response mockit</title>
    <link rel="stylesheet" type="text/css" href="css/chrome.css" media="screen">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="../bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../bower_components/codemirror/theme/mdn-like.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angularjs/angular.min.js"></script>
    <script  src="../bower_components/codemirror/lib/codemirror.js"></script>
    <script  src="../bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
</head>

<body class="main chromeapp" id="console">
<div id="notification" class="notification-area" style="display: none;"></div>
<input type="file" id="filePicker" style="display: none">

<div ng-controller="MainController">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Response MocKit</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div ng-controller="PanelController" class="ui-lay-m">
        <!--left panel-->
        <div ng-controller="NavbarController" class="ui-lay-l ui-context" style="width: 370px;">
            <section class="pane" id="left-side">

                <div class="pane-head">
                    <a href="#void" class="btn hide-pane" title="Minimize">
                        <i class="icon-long-arrow-left"></i></a>
                    <ul class="nav nav-pills selector">
                        <li title="History" ng-click="currentSidePanel = 'history'"  ng-class="{active: currentSidePanel== 'history'}"><a href="#void"><i class="icon-list"></i></a></li>
                        <li title="Repository" ng-click="currentSidePanel = 'catalog'" ng-class="{active: currentSidePanel== 'catalog'}"><a href="#void"><i class="icon-archive"></i></a></li>
                        <li title="Contexts" ng-click="currentSidePanel = 'context'" ng-class="{active: currentSidePanel== 'context'}"><a href="#void"><i class="icon-th-large"></i></a></li>
                    </ul>
                </div>

                <div class="content" ng-switch="currentSidePanel">
                    <!--list-panel-->
                    <div class="history" ng-switch-default>
                        <div ng-if="ruleList.length==0">
                            <p class="note" >History is empty</p>
                        </div>
                        <div class="records" style="overflow: auto; position: absolute; zoom: 1;">
                            <div style="position: relative; zoom: 1;">
                                <table class="history">
                                    <tbody>
                                    <tr ng-repeat="r in ruleList">
                                        <td>
                                            <div class="category">{{r.name}}</div>
                                            <div class="item">
                                                <div>
                                                    <div>
                                                    <label class="checkbox">
                                                        <input type="checkbox">
                                                        <span></span>
                                                    </label>
                                                    <a href="#void" class="btn path btn-link">
                                                        <i></i> {{r.rurl}}
                                                    </a>
                                                    </div>
                                                    <div class="status response-ok">{{r.type}}</div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="buttons">
                            <input type="text" class="gwt-TextBox filter disabled" disabled="" placeholder="Filter">

                            <div class="btn-group"><a href="#void" class="btn disabled btn-link btn-small"
                                                      title="Deselect All"><i class="icon-check-empty"></i>
                                Deselect </a><a href="#void" class="btn btn-danger-link disabled btn-link btn-small"
                                                title="Remove Selected History Records"><i class="icon-minus"></i>
                                Remove </a></div>
                            <div class="right"><a href="#void" class="btn btn-link btn-small"
                                                  title="Clear All History Content"><i class="icon-trash"></i></a></div>
                        </div>
                    </div>

                    <!--catalog panel list-->
                    <div class="catalog"  ng-switch-when="catalog">
                        <div class="content">
                            <div class="items">
                                <div>
                                    <ul class="tree">
                                        <li class="level0 drive">
                                            <div>
                                                <div class="btn-group ctrls"  style="display: none;">
                                                    <a href="#void" class="btn btn-link dropdown-toggle btn-mini"
                                                       data-toggle="dropdown"><i
                                                            class="icon-chevron-sign-down icon-large"></i> </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li  style="display: none;"><a href="#void"><i
                                                                class="icon-edit"></i> Edit </a>
                                                        </li>
                                                        <li  style="display: none;"><a href="#void"><i
                                                                class="icon-copy"></i> Clone
                                                        </a></li>
                                                        <li  style="display: none;"><a href="#void"><i
                                                                class="icon-share-alt"></i>
                                                            Share </a></li>
                                                        <li><a href="#void"><i class="icon-download-alt"></i>
                                                            Export </a></li>
                                                        <li><a href="#void"><i class="icon-briefcase"></i>
                                                            Import </a></li>
                                                        <li><a href="#void"><i class="icon-trash"></i> Erase
                                                        </a></li>
                                                        <li  style="display: none;"><a href="#void"><i
                                                                class="icon-remove"></i> Remove
                                                        </a></li>
                                                    </ul>
                                                </div>
                                                <a href="#void" class="btn btn-link name" id="gwt-uid-269"
                                                   data-original-title="undefined" title=""><i
                                                        class="icon-caret-down"></i><i class="node-icon"></i><span
                                                        class="gwt-InlineHTML node-text">My Drive</span></a>
                                            </div>
                                            <ul style="display: block;">
                                                <li class="level1 empty">
                                                    <div>
                                                        <div class="btn-group ctrls"
                                                             style="display: none;"><a href="#void"
                                                                                       class="btn btn-link dropdown-toggle btn-mini"
                                                                                       data-toggle="dropdown"><i
                                                                class="icon-chevron-sign-down icon-large"></i>
                                                        </a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-edit"></i>
                                                                    Edit </a></li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-copy"></i>
                                                                    Clone </a></li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-share-alt"></i>
                                                                    Share </a>
                                                                </li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-download-alt"></i>
                                                                    Export
                                                                </a></li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-briefcase"></i>
                                                                    Import </a>
                                                                </li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-trash"></i>
                                                                    Erase </a></li>
                                                                <li  style="display: none;"><a
                                                                        href="#void"><i class="icon-remove"></i>
                                                                    Remove </a></li>
                                                            </ul>
                                                        </div>
                                                        <a href="#void" class="btn btn-link name" id="gwt-uid-270"
                                                           data-original-title="undefined" title=""><i></i><i
                                                                class="node-icon"
                                                                style="display: none;"></i><span
                                                                class="gwt-InlineHTML node-text">No saved data</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <ul class="tree"></ul>
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="btn-group"><a href="#void" class="btn btn-link btn-small"
                                                          title="Collapse All"><i class="icon-minus-sign-alt"></i></a><a
                                        href="#void" class="btn btn-link btn-small" title="Open All"><i
                                        class="icon-plus-sign-alt"></i></a><a href="#void"
                                                                              class="btn btn-link btn-small"
                                                                              title="Export Data"><i
                                        class="icon-download-alt"></i> Export </a><a href="#void"
                                                                                     class="btn btn-link btn-small"
                                                                                     title="Import Data"><i
                                        class="icon-upload-alt"></i> Import </a></div>
                                <div class="right"></div>
                            </div>
                        </div>
                    </div>

                    <!--contexts panel-->
                    <div class="context"  ng-switch-when="context">
                        <ul class="nav nav-pills ctx-header">
                            <li class="name" title="Global Context">
                                <p class="navbar-text">Global:</p>
                            </li>
                            <li class="dropdown"><a href="#void" class="dropdown-toggle" data-toggle="dropdown"><i></i>
                                aa <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#void"><i></i> aa </a></li>
                                    <li><a href="#void"><i></i> asdfasdf </a></li>
                                    <li class="add-new-context"><a href="#void"><i></i> Add New Context </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div style="display: none;">
                            <p class="note">Empty, there is no active context.</p>
                        </div>
                        <div class="slot-wrapper">
                            <div class="slot">
                                <div class="context-table"></div>
                            </div>
                        </div>
                        <div class="btn-group buttons-r"><a href="#void" class="btn btn-link btn-small"
                                                            title="Delete Context"><i class="icon-trash"></i></a></div>
                        <div class="btn-group buttons"><a href="#void" class="btn btn-link" title="Add New Variable"><i
                                class="icon-plus-sign"></i></a><a href="#void" class="btn btn-link btn-small disabled"
                                                                  title="Sort Variables"><i
                                class="icon-sort-alpha-asc"></i></a><a href="#void" class="btn btn-link btn-small"
                                                                       title="Rename"><i class="icon-edit"></i></a><a
                                href="#void" class="btn btn-link btn-small" title="Clone"><i
                                class="icon-copy"></i></a><a href="#void" class="btn btn-link btn-small"
                                                             title="Export Data"><i class="icon-download-alt"></i></a><a
                                href="#void" class="btn btn-link btn-small" title="Import Data"><i
                                class="icon-upload-alt"></i></a></div>
                    </div>
                </div>
            </section>
            <div class="h-splitter"  style="display: none;">
                <a href="#void" class="btn open btn-mini" title="Show Pane"><i></i></a>
            </div>
        </div>

        <!--divider line-->
        <div class="h-divider h-div-left" style="left: 365px;">
            <div class="line"></div>
        </div>

        <!--content-->
        <div class="ui-lay-c" style="margin-left: 372px; bottom: 79px; margin-right: 12px;">
            <div class="ui-lay-cc">
                <div>
                    <!--title, save, delete-->
                    <section class="pane documentation">
                        <div class="pane-head2"><span>Use Case</span></div>
                        <div class="content">
                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td class="request-name control-group">
                                        <input ng-model="mockRuleName" type="text" class="gwt-TextBox" placeholder="规则名称">
                                    </td>
                                    <td class="ctrls">
                                        <div class="btn-group btn-group-sm">
                                            <a href="#void" class="btn btn-info btn-sm">
                                                <i class="icon-download-alt"></i> 保存 </a>
                                            <a href="#void" class="btn btn-danger btn-small">
                                                <i class="icon-trash"></i> 删除 </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="uc-nav" colspan="1">
                                        <span>Service: <span style="color:green;">Working</span>
                                            <a href="#void" class="btn btn-link btn-mini" id="gwt-uid-43"
                                               data-original-title="" title=""><i></i> </a>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div></div>
                        </div>
                    </section>

                    <!--rule edit-->
                    <section id="request" class="pane">
                        <div class="pane-head"><span>Mock 规则</span></div>
                        <div class="content">
                            <div class="service">
                                <span class="row">
                                    <span class="cell-url">
                                        <input ng-model="mockRurl" type="text" class="gwt-TextBox url" placeholder="请填写url匹配规则, 支持正则 如 offer.json /\.abc.jsonp">
                                    </span>
                                    <span class="cell protocol">
                                        <select class="input-small" ng-model="mockType">
                                            <option value="json">JSON</option>
                                            <option value="jsonp">JSONP</option>
                                        </select>
                                    </span>
                                    <span class="cell">
                                        <a ng-click="setMockRule()" href="#void" class="btn btn-send btn-success">
                                            <i class="icon-download-alt"></i>开始拦截</a>
                                        <!--icon-send-->
                                    </span>
                                </span>
                            </div>
                            <div class="request">
                                <div class="body">
                                    <div class="sub-label">Mock Rule</div>
                                    <div class="rule-error">
                                        <span ng-if="!mockRuleValidate" class="label label-danger">规则错误, 请确保为json结构</span>
                                    </div>
                                    <div class="cleafix"></div>

                                    <div class="editor mock-editor">
                                        <textarea  ui-codemirror ng-model="mockTemplate" ui-codemirror-opts="editorOptions" cols="30" rows="6"></textarea>
                                    </div>

                                    <!--<a ng-click="setMockRule()" href="#void" class="btn btn-send btn-info">-->
                                        <!--<i class="icon-download-alt"></i>预览 Mock 数据</a>-->

                                    <div class="editor mock-preview">
                                        <textarea  ui-codemirror ng-model="mockPreview" ui-codemirror-opts="previewOptions" cols="30" rows="6"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="v-divider" style="left: 288px; bottom: 212px;"><div class="line"></div></div>
        <section class="pane" id="bottom-side" style="left: 368px; height: 199px;">
            <div class="pane-head">
                <div class="hide-pane">
                    <div class="btn-group">
                        <a href="#void" class="btn btn-link btn-mini" title="清空拦截历史" style=""><i class="icon-trash"></i></a>
                    </div>
                </div>
                <ul class="nav nav-tabs bottom-pane-selector">
                    <li class="active">
                        <a href="#void"><i class="icon-list"></i> 拦截记录 </a>
                    </li>
                </ul>
            </div>
            <div class="content" style="">
                <div class="h-b" id="h-history">
                    <div style="display: block;"><p class="note">History is empty</p></div>
                    <div class="records" style="overflow: auto; position: absolute; zoom: 1; height: 159px; display: none;">
                        <div style="position: relative; zoom: 1;">
                            <table class="h-history">
                                <colgroup>
                                    <col width="130px">
                                    <col width="20px">
                                    <col width="80px">
                                    <col>
                                    <col width="150px">
                                    <col width="60px">
                                    <col width="40px">
                                    <col width="60px">
                                </colgroup>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>
</div>

<script src="../bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/mock.js"></script>
<script src="js/core/core.module.js"></script>
<script src="js/core/core.service.js"></script>
<script src="js/core/chrome.service.js"></script>
<script src="js/core/storage.service.js"></script>
<script src="js/popup/popup.module.js"></script>
<script src="js/popup/popup.controller.js"></script>
<script type="text/javascript" src="../bower_components/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="../bower_components/codemirror/addon/edit/closebrackets.js"></script>
<script type="text/javascript" src="../bower_components/codemirror/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="../bower_components/codemirror/addon/selection/active-line.js"></script>
</body>
</html>